<!-- template.html -->
<!DOCTYPE html>
<html>
<body>
          <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin:0; padding:0" >
            <tbody>
              <tr>
                <td align="center" valign="top">
                  <div align="center" valign="top" style="padding-top: 20px; padding-bottom: 20px; background-color: #070606; background-image: url(https://i.ibb.co/WcvD9xg/sport.jpg); background-position: center; background-size: cover;">
                    <div style="max-width:2917px; padding-bottom:0; vertical-align:bottom; text-shadow: black 0 0 10px;" align="center">
                      <p style="display:inline!important; color: white;font-size: 35px; font-family: Helvetica, sans-serif; font-weight: 550;letter-spacing: 1px;">SPORT <sup>org</sup> </p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" style=" padding: 43px 0px 43px 0px">
                  <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;" width="100%" >
                    <tbody>
                      <tr>
                        <td valign="top" style="padding:0px 18px 9px;line-height:150%">
                          <p dir="ltr" style="line-height:150%; color: #757575;font-family: Helvetica;font-size: 16px; margin: 10px 0;">
                            Уважаемый представитель спортивной команды,<br>
                            <br>
                            Спасибо, что вы решили воспользоваться нашим сервисом.<br>
                            <br>
                            С сожалением вынуждены вам сообщить, что в отправленном вами файле при заполнении данных участников были выявлены ошибки. Пожалуйста, проверьте корректность данных и устраните ошибки. В случае возникновения вопросов относительно корректного заполнения документа:<br>
                            <br>
                            1. Ознакомьтесь с инструкцией по корректному заполнению документа: <a style="color: #007c89;" href="https://youtu.be/5RbUgn_bXOs">заполнение заявки на участие в соревнованиях по каратэ</a><br>
                            <br>
                            2. Если инструкция не смогла вам помочь - напишите нашему специалисту сообщение с описанием вашей проблемы, указав в начале сообщения <b>#заявка</b>  <a style="color: #007c89;" href="https://t.me/Geniuska">служба поддержки</a><br>
                            <br>
                            После того, как вы успешно отправите корректно заполненную заявку - наша система внесет всех спортсменов в список участников и вы получите письмо с подтверждением об успешной регистрации спортсменов на соревнования.
                            <br>
                            <br>
                            Пожалуйста, обращайтесь, если вам потребуется какая-либо помощь.<br>
                            <br>
                            С уважением,<br>
                            Sport <sup>org</sup> User Support</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" style="padding: 10px 0 20px 0;">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <div align="center" style="background-color: black; padding: 9px;">
                          <a href="https://t.me/Geniuska" style="padding: 15px auto 15px auto;">
                            <img src="https://i.ibb.co/dc3knWM/telegram-1.png" style="display: block; margin: 8px 0;">
                          </a>
                        </div>
                        <div style="color: white; font-family: Helvetica; background-color: black; text-align: left; padding-top:9px;padding-right:18px;padding-bottom:20px;padding-left:18px">
                          <span style="font-size:11px"><em>Copyright ©2022 Geniuska. All rights reserved.</em><br>
                            <br>
                            Компания основана в сентрябре 2022 года одним очень амбициозным программистом, желавшим сделать проведение спортивных соревнований в разы легче, а также приобщить к спорту большее количество молодых людей.
                            <br>
                            <br>
                            <div style="text-align:left;">
                              <span style="font-size:12px"><em>По всем вопросам сотрудничества или любых других вопросов, связанным с данной платформой, обращайтесь в телеграм.</em></span>
                            </div>

                          </span>
                        </div>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
</body>
</html>

